<div class="mdk-drawer js-mdk-drawer" id="default-drawer" data-align="start" data-position="left" data-domfactory-upgraded="mdk-drawer" data-persistent="" data-opened=""><div class="mdk-drawer__scrim" style="" ></div>
     <div class="mdk-drawer__content" style="" *ngIf="session">
        <div class="mdk-drawer__inner" data-simplebar="" data-simplebar-force-enabled="true"><div class="simplebar-track vertical" style="visibility: hidden;"><div class="simplebar-scrollbar"></div></div><div class="simplebar-track horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar"></div></div><div class="simplebar-scroll-content" style="width: auto; height: auto;"><div class="simplebar-content">
           <nav class="drawer  drawer--dark" >
              <div class="drawer-spacer">
                 <div class="media align-items-center">
                    <a routerLink="/dashboard" class="drawer-brand-circle mr-2">A</a>
                    <div class="media-body">
                       <a routerLink="/dashboard" class="h5 m-0 text-link">Admin</a>
                    </div>
                 </div>
              </div>
              <!-- MENU -->
              
              </nav>
        </div></div></div>
     </div>
  </div>
