 <!-- <app-header></app-header> -->
 <div class="mdk-drawer-layout__content" style="transform: translate3d(256px, 0px, 0px); margin-right: 256px;">
  <!-- header-layout -->
     <!-- header -->
    <app-header></app-header>
     <!-- content -->
    <div class="mdk-header-layout__content top-navbar mdk-header-layout__content--scrollable h-100" style="padding-top: 62px;">
          <!-- main content -->




          <div class="container-fluid">  <!--remove 'container--max'-->
            <router-outlet></router-outlet>
             
          </div>
      </div>
</div>
 <app-left-side-bar></app-left-side-bar>
 <app-right-side-bar></app-right-side-bar>

  <!-- // END drawer-layout__content -->
  <!-- drawer -->
   
  <!-- // END drawer -->
  
  <!-- // END drawer -->
