<div class="card m-auto  cemeteryOwnerAdd">
  <div class="card-body">
    <form *ngIf="userAddForm" [formGroup]="userAddForm" (ngSubmit)="update($event)">
      <input type="hidden" name="userid" id="userid" name="userid" formControlName="userid" ngModel="{{user.id}}">

      <div class="form-group row">
        <label for="fname" class="col-sm-4 col-form-label ">First Name</label>
        <div class="col-sm-8">
          <input type="text" class="form-control col-md-12 " id="fname" name="fname" placeholder="First Name" formControlName="fname"
            ngModel="{{user.first_name}}">
        </div>

      </div>
      <div class="form-group row">
        <label for="lname" class="col-sm-4 col-form-label ">Last Name</label>
        <div class="col-sm-8">
          <input type="text" name="lname" class="form-control col-md-12 " id="lname" placeholder="Last Name" formControlName="lname"
            ngModel="{{user.last_name}}">
        </div>
      </div>
      <div class="form-group row">
        <label for="email" class="col-sm-4 col-form-label "> Email ID </label>
        <div class="col-sm-8">
          <input type="text" class="form-control col-md-12 " name="email" id="email" placeholder="Email" formControlName="email" ngModel="{{user.email}}">
        </div>
      </div>

      <div class="form-group row">
        <label for="cemeteryOwenerArea" class="col-sm-4 col-form-label "> Assigned Cemetery</label>
        <div class="col-sm-8">
          <div> 
            <select class="form-control col-md-12 selectCemeteryArea " name="cemeteryarea" id="cemeteryarea" formControlName="cemeteryarea"
              [(ngModel)]="user.cemetery_area">
              <option disabled>Select Your Area</option>
              <option *ngFor=" let u of cemeteryname" ngValue='{{u.id}}'>{{ u.name}}</option>
            </select>
          </div>

        </div>
      </div>

      <div class="form-group row">
        <label for="cemeteryOwnerEdit" class="col-sm-4 col-form-label "> </label>

        <div class="col-sm-8">
          <button class="btn btn-primary center-block auto" [disabled]="!userAddForm.valid"> Update </button>
        </div>
      </div>
    </form>
    <div class="alert text-center" [ngClass]="{'alert-success' : successMessage.status == true, 'alert-danger' : successMessage.status == false}"
      style="text-align: center;" *ngIf="successMessage.message" [innerHtml]="successMessage.message"></div>
  </div>

</div>
