<div class="row font-1">
  <div class="col-lg-3">
    <div class="card card-body flex-row align-items-center bg-primary text-white">

      <h5 class="m-0">Cemetery</h5>

      <h1 class="text-white mt-sm-3 ml-sm-3">{{tableCount.cemetery}}</h1>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="card card-body flex-row align-items-center bg-success text-white">

      <h5 class="m-0">Graves</h5>

      <h1 class="text-white mt-sm-3 ml-sm-3">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">{{tableCount.gravesite}}</font>
        </font>
      </h1>

    </div>
  </div>
  <div class="col-lg-3">
    <div class="card card-body flex-row align-items-center bg-info text-white">

      <h5 class="m-0">Cemetery Users</h5>

      <h1 class="text-white mt-sm-3 ml-sm-3">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">{{tableCount.owner}}</font>
        </font>
      </h1>

    </div>
  </div>
  <div class="col-lg-3">
    <div class="card card-body flex-row align-items-center bg-instagram text-white">

      <h5 class="m-0">Bookings</h5>

      <h1 class="text-white mt-sm-3 ml-sm-3">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">{{tableCount.bookings}}</font>
        </font>
      </h1>

    </div>
  </div>
  <div class="col-lg-3">
    <div class="card card-body flex-row align-items-center bg-primary-dark text-white">

      <h5 class="m-0">Cemetery Users</h5>

      <h1 class="text-white mt-sm-3 ml-sm-3">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">{{tableCount.person}}</font>
        </font>
      </h1>

    </div>
  </div>
</div>
